<a href="https://colab.research.google.com/github/Kaderbalde/Data_apps/blob/main/DEVOIR_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#Exercice 3
import sqlite3
#première solution
def trouver_nombre_manquant(tableau):
    somme_1 = (len(tableau) + 1) * (tableau[0] + tableau[-1]) // 2
    somme_2 = sum(tableau)
    nombre_manquant = somme_1 - somme_2

    # Stockage dans SQLite
    conn = sqlite3.connect('database.db')
    cursor = conn.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS nombres_manquants (nombre INTEGER)")
    cursor.execute("INSERT INTO nombres_manquants (nombre) VALUES (?)", (nombre_manquant,))
    conn.commit()
    conn.close()

    return nombre_manquant
# Exemple d'utilisation
tableau_exemple = [1, 2, 3, 5, 6, 7, 8]
print("Le nombre manquant est :", trouver_nombre_manquant(tableau_exemple))

Le nombre manquant est : 4

In [20]:
#deuxième solution
import sqlite3

def trouver_nombre_manquant(tableau):
    for i in range(len(tableau) - 1):
        if tableau[i+1] - tableau[i] > 1:
            nombre_manquant = tableau[i] + 1

            # Stockage dans SQLite
            conn = sqlite3.connect('database.db')
            cursor = conn.cursor()
            cursor.execute("CREATE TABLE IF NOT EXISTS nombres_manquants (nombre INTEGER)")
            cursor.execute("INSERT INTO nombres_manquants (nombre) VALUES (?)", (nombre_manquant,))
            conn.commit()
            conn.close()

            return nombre_manquant

# Exemple d'utilisation
tableau_exemple = [1, 2, 3, 5, 6, 7, 8]
print("Le nombre manquant est :", trouver_nombre_manquant(tableau_exemple))

Le nombre manquant est : 4

In [21]:
#EXERCICE 1
def transform(liste_chaines):
    chaine1, chaine2 = liste_chaines
    entiers_chaine1 = set(map(int, chaine1.split()))
    entiers_chaine2 = set(map(int, chaine2.split()))
    entiers_uniques = sorted(entiers_chaine1.union(entiers_chaine2))
    nouvelle_chaine = ' '.join(map(str, entiers_uniques))
    return nouvelle_chaine

# Exemple d'utilisation
liste_exemple = ["1 3 5 7", "2 4 6 8"]
resultat = transform(liste_exemple)
print("Le résultat est :", resultat)

Le résultat est : 1 2 3 4 5 6 7 8

In [22]:
def transform(liste_chaines):
    chaine1, chaine2 = liste_chaines
    entiers_chaine1 = set(map(int, chaine1.split()))
    entiers_chaine2 = set(map(int, chaine2.split()))
    entiers_uniques = sorted(entiers_chaine1.union(entiers_chaine2))
    nouvelle_chaine = ' '.join(map(str, entiers_uniques))

    # Vos informations
    nom = "BALDE"
    prenom = "MAMADOU CIRE KADER"
    classe = "MASTER IA"

    return f"{nom} {prenom} {classe} {nouvelle_chaine}"

# Exemple d'utilisation
liste_exemple = ["1 3 5 7", "2 4 6 8"]
resultat = transform(liste_exemple)
print("Le résultat est :", resultat)

Le résultat est : BALDE MAMADOU CIRE KADER MASTER IA 1 2 3 4 5 6 7 8

In [23]:
#Prémière solution
#Solution 1 : Utiliser les informations fournies directement dans la fonction transform
def transform(chain):
    nom = "BALDE"
    prenom = "MAMADOU CIRE KADER"
    classe = "MASTER I A"

    # Extraction des entiers uniques des deux chaînes
    entiers_chaines = set(chain[0].split(', ') + chain[1].split(', '))
    entiers_uniques = sorted(entiers_chaines)

    # Formation de la nouvelle chaîne avec les entiers uniques
    nouvelle_chaine = ','.join(entiers_uniques)

    return f"{nouvelle_chaine}:{nom}_{prenom}_{classe}"

# Exemples d'utilisation
arr1 = ["1, 3, 4, 7, 13", "1, 2, 4, 13, 15"]
out = transform(arr1)
print(out)  # doit afficher ---> 1,13,15,2,3,4,7:nom_prenom_classe

arr3 = ["9, 3, 5, 7, 14", "10, 2, 6, 16, 15"]
out = transform(arr3)
print(out)  # doit afficher ---> 10,14,15,16,2,3,5,6,7,9:nom_prenom_classe

1,13,15,2,3,4,7:BALDE_MAMADOU CIRE KADER_MASTER I A
10,14,15,16,2,3,5,6,7,9:BALDE_MAMADOU CIRE KADER_MASTER I A

In [24]:
#Solution 2 : Passer les informations nom, prénom et classe en tant que paramètres de la fonction transform :
def transform(chain, nom, prenom, classe):
    # Extraction des entiers uniques des deux chaînes
    entiers_chaines = set(chain[0].split(', ') + chain[1].split(', '))
    entiers_uniques = sorted(entiers_chaines)

    # Formation de la nouvelle chaîne avec les entiers uniques
    nouvelle_chaine = ','.join(entiers_uniques)

    return f"{nouvelle_chaine}:{nom}_{prenom}_{classe}"

# Exemples d'utilisation
arr1 = ["1, 3, 4, 7, 13", "1, 2, 4, 13, 15"]
out = transform(arr1, "BALDE", "MAMADOU CIRE KADER", "MASTER 1 IA")
print(out)  # doit afficher ---> 1,13,15,2,3,4,7:nom_prenom_classe

arr3 = ["9, 3, 5, 7, 14", "10, 2, 6, 16, 15"]
out = transform(arr3, "BALDE", "MAMADOU CIRE KADER", "MASTER 1 IA")
print(out)  # doit afficher ---> 10,14,15,16,2,3,5,6,7,9:nom_prenom_classe

1,13,15,2,3,4,7:BALDE_MAMADOU CIRE KADER_MASTER 1 IA
10,14,15,16,2,3,5,6,7,9:BALDE_MAMADOU CIRE KADER_MASTER 1 IA

In [32]:
#Exercice 2
# Définition de la variable numbers
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Création de lst1
lst1 = []
for i in range(1200, 2000, 135):
    lst1.append(i)

# Création de lst2
lst2 = []
for i in lst1:
    if i % 2 == 0:
        lst2.append(i * 2)

# Création de la liste des nombres pairs et impairs
pairs = []
impairs = []
for num in numbers:
    if num % 2 == 0:
        pairs.append(num)
    else:
        impairs.append(num)

# Affichage des résultats
print(lst1)
print(lst2)
print(pairs)
print(impairs)

[1200, 1335, 1470, 1605, 1740, 1875]
[2400, 2940, 3480]
[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [29]:
#autre manière d’additionner deux nombres entiers
#operateur + 1
import operator
a = 5
b = 3
resultat = operator.add(a, b)
print(resultat)  # Cela a 8

8

In [30]:
#opérateur + 2
resultat = a + b
print(resultat)  # Cela affiche 8

8